*~
\#*#
.#*
*.o
*.a

.deps/
Makefile
Makefile.in
stamp-h1

/INSTALL
/aclocal.m4
/autom4te.cache
/config.aux
/config.cache
/config.fi.frag.make
/config.h
/config.h.in
/config.log
/config.status
/configure

/genhash_test
/inocache_test
/tdiff
/tdiff-*.tar.*
