\#*#
.#*
*~
*.backup

*.[ao]
*.gcda
*.gcno
*.gcov
.deps/
Makefile
Makefile.in
stamp-h1

/INSTALL
/aclocal.m4
/autom4te.cache
/config.aux
/config.cache
/config.fi.frag.make
/config.h
/config.h.in
/config.log
/config.status
/configure
/test-suite.log
/tests/*.log
/tests/*.trs

/genhash_test
/ent_pair_cache_test
/make_sock
/tdiff
/tdiff-*.tar.*
/tests/*.dir[12]
/tests/*.out
